


{% extends 'base.html' %}
{% block body %}
<!-- Your existing content here -->

<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="card shadow">
                <div class="card-body" style="max-height: 400px; overflow-y: auto;">
                    <h2 class="card-title text-center mb-4 text-Dark">List Of All Invoice Report</h2>
                    

                    <table class="table table-bordered table-striped id="clientReportTable">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Company Name</th>
                                <th>GST Number</th>
                                <th>Country</th>
                                <th>State</th>
                                <th>Address</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for client in clients %}
                            <tr>
                                <td>{{ client.id }}</td>

                                <td>{{ client.company_name }}</td>
                                <td>{{ client.gst_number }}</td>
                                <td>{{ client.country }}</td>
                                <td>{{ client.state }}</td>
                                <td>{{ client.address }}</td>
                                <td>
                                  

                                    <button class="btn  btn-success" >
                                        <a href="{% url 'gst-report' client.id %}" style="color: white; text-decoration: none;">
                                            GST Report
                                        </a>
                                    </button>
                                    
                                    
                                </td>
                            </tr>
                            
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
<script>
    $(document).ready(function () {
        $('#clientReportTable').DataTable({
            scrollY: '300px', // Set the desired height for scrollable content
            scrollCollapse: true,
            paging: false
        });
    });
</script>

{% endblock %}
